<div class="container">
  <h1>Edit a Restaurant:</h1>
  <div class="form">
    <%= render "form", restaurant: @restaurant %>
  </div>
  <span id="back"><%= link_to("Back to list", restaurants_path) %></span>
</div>
